@font-face {
  font-family: 'Bebas';
  src: url('fonts/BebasNeue.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuropol';
  src: url('fonts/Neuropol.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

* { 
  -moz-box-sizing: border-box; 
  var-main-color: rgba(255, 157, 103, 1);
}


html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-size: 100% auto;
  overflow-y: scroll;
}

main {
  display: flex;
  flex-direction: column;
}

#icons {
  width: 100%;
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  text-shadow: 0 2px 4px var(main-color);
}

.character:before {
  content: var(character);
}

/* Clock */

#clock {
  font-family: 'Neuropol';
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  margin: 20px 20px;
  color: var(main-color);
  flex-direction: column;
}

#time {
  line-height: 100%;
  font-size: 3rem;
  text-shadow: 0 2px 4px var(main-color);
  letter-spacing: -1px;  
}

.clock-hours {
}
.clock-minutes {
}

#date {
  font-size: 1.5rem;
  text-shadow: 0 2px 4px var(main-color);
  padding-left: 5px;
}

#searchfield {
    color: #000;
    border: none;
    width: 90%;
    height: 30px;
    opacity: 0.5;
    padding-left: 10px;
    background: var(main-color);
    font-size: 1em;
    font-family: 'Neuropol';
    margin: 5px 0 0 20px;
}